#banner{
    background-image: url(../assets/img/navbar/baner.png);
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;/**para repetir en varias imagenes*/
    background-size: cover; /**Amplia la imagen*/
    margin-top: -56px; /* para mover la imagen**/
}
.back{
    background: transparent !important;
    position: fixed !important;
    top: 0;
    width: 100%;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;

}
.container-fluid{
    
    width: max-content !important;
    
}

#revo{
    
    font-family: SF Pro Bold;
    display: flex;
    justify-content: center;
    align-items:center ;
    height: 500px;
}
.container{
    margin: auto !important;
}

.container1{
    display: inline-block;
    position: relative;
}

.container1>div{
    display: inline-block;
    margin: auto;
}

.izqAbout{
    background-image: url(../assets/img/section/section2.1.png);
    height: 420%;
    background-repeat: no-repeat;
}
.derAbout{
    
    background-color: yellow;
    height: 100%;
    
}