.containerH{
  height: 542px;
  /* border: 5px solid #cd0abc;; */
}
.soyul{
  display: flex;
  align-items: center;
  /* background: red; */
  height: 24px;
  gap: 110px;
}
.nav-item{
  flex: 1 !important;
  order: 2 !important;
}

#apple{
  margin-top: 54px !important;  
}
#banner {
  background-image: url(../assets/img/navbar/baner.png);
  height: 541px;
  background-position: center;
  background-repeat: no-repeat; /**para repetir en varias imagenes*/
  background-size: cover; /**Amplia la imagen*/
  margin-top: 0 !important; /* para mover la imagen**/
}
#navbarNav{
  margin: 0;
  padding: 0;
  background-position: center !important;
}

.logo{
  width: 153px;
  height: 23px;
}

.back {
  
  background: transparent !important;
  position: absolute !important;
  top: 0;
  width: 100%;
  
  margin: 27px 14% 0 14.5% !important;

}

.container-fluid {
  width: 100% !important;
  max-width: 990px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#revo {
  font-family: SF Pro Bold;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.container {
  margin: auto !important;
}

.container1 {
  display: inline-block;
  position: relative;
}

.container1 > div {
  display: inline-block;
  margin: auto;
}





