.todo{
    border: 4px solid #4c3f3f;
    background-color: #ffdf00;
    
}

.tituloPricing{
    border: 4px solid #122222
    ;
}

.cuadro{
    border: 4px solid #6d2121;
    background-color: white;
}

.cuadro2{
    border: 4px solid #620a0a;
    background-color: white;
}

.cuadro3{
    border: 4px solid #b34b4b;
    background-color: white;
}

.swswsw{
    border: 4px solid #122222;
}