.todo{
    background-color: #ffdf00;
    height: 468px;
    
}
.lineas{
    border: 0.5px solid #e3e2e0;
/*     margin-inline-end: 150px !important; */
    align-items: center !important;
    margin: 20px 65px 25px 65px !important;
    
}

.parrafos{
    font-family: SF Pro Light;
    font-size: 16px;
    color: #111111;
}
.spamm{
    font-size: 11px;
    color: #666666;
    font-family: SF Pro Bold;
}
.tituloPricing{
    margin-top: 55px !important;
    margin-bottom: 44px !important;
    font-size:20px ;
    font-family: SF Pro Bold;
    margin-left: 232px;
    padding: 0 1050px 0 0 !important;
    /* margin-left: 233px !important; */
}
.cuadro1{
    /* margin-bottom: 65px !important; */
    height: 293px;
    width: 280px;
    background-color: white;
    text-align: center !important;
}

.subTitulo{
   /*  background:#063ca9; */
    padding: 33px 0 12px 0 !important;
    font-size: 20px;
    font-family: SF Pro Bold;
}

/* .petito{
    background: red;
} */

.cuadors{
    /* background: #47a906; */
    padding: 20px !important;
    /* border: #ffdf00 2px solid; */
    display: flex;
    justify-content: center; /*centrado horizontal*/
    align-items: center !important;  /*centrado Vertical*/
    
}
/* 
.cuadro{
    background-color: white;
}

.cuadro2{
    background-color: white;
    margin: 281px 293px;
}

.cuadro3{
    background-color: white;
}
*/

.boton button{
    font-family: SF Pro Bold;
    background: white;
    padding: 18px ;  /* magen espaciado por dentro*/
    border: 1px solid black ;
    border-radius: 5px; 
    width: 120px; /*Ancho*/
    height: 40px; /*Alt*/ 
    margin: 42px;  
 } 




 