/* .contenido{
    height: 335px;
    display: flex;
    justify-content: center;
    align-items: center !important;
    
}

.containerV{
    border: 1px solid;
    gap: 110px !important;  
    display: flex !important;
    align-items: center !important;
}
 */

 .vistaV{
    height: 334px;
    margin: 0 !important;
    padding: 0 !important;

    display: flex;
 }

 .tituloV{
    font-size: 19px;
    font-family: SF Pro Bold;
 }

 .parrafoV{
    font-size: 13px;
    font-family: SF Pro Light;
 }

 .contenedorV{
   margin: 23px 0 10px !important; 
 }
 .imagen{
   width: 74px;
   height: 74px;
 }
 
 .contenidos{
   margin-top: 35px !important
   ;
 }

 .separarV{
   padding: 26px 0 20px 0 !important;
 }

 .cuadrito{
   padding-left: 180px !important;
 }
 .cuadrito3{
   padding-right: 180px !important;
   
 }