
.containerW{
    height: 780px;
    border: 5px solid #ee0101 ;
}
.titulo{
    margin: 60px;
    font-family: SF Pro Bold;
    /* border: 3px solid #c64848; */
    font-size: 17px;
}

.parrafo1{
    
    font-family: SF Pro Regular;
    font-size: 16px;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    display: flex;
    height: 100%;
    /* border: 3px solid #438423; /* Solo para visualizar el contenedor */ 
}

.parrafo2{
    font-family: SF Pro Regular;
    font-size: 16px !important;
    display: flex;
    flex-direction: column; /* Para apilar los párrafos verticalmente */
    align-items: left ; /* Para centrar horizontalmente */
    justify-content: center; /* Para centrar verticalmente */
    height: 100%; /* Puedes ajustar la altura según tus necesidades */
    /* border: 3px solid #9c5858; */ /* Solo para visualizar el contenedor */
    
}
.foto{
    /* border: 3px solid #842323; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
}

/* .num4{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.num5
    {
      
      }
  

 */

