
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  p.regular{
    font-family: SF Pro Regular;
  }
  p.bold{
    font-family: SF Pro Bold;
  }
  p.light{
    font-family: SF Pro Light;
  }
  p.medium{
    font-family: SF Pro Medium;
  }

  p{
    font-family:  SF Pro Regular;
  }